{% load static %}
{% load users_tags %}

<div class="container">
  <nav class="navbar navbar-expand-lg bg-white mb-4 border-bottom">
    <div class="container-fluid px-0">
      <a class="navbar-brand p-0 m-0" href="/">
        <img src="{% static 'picture/logo.png' %}" alt="" width="188" height="50" class="d-inline-block">
      </a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'ShuvalovView' %}">Преподаватель</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'ShuvalovView' %}">Преподаватель</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'CoursesList' %}">Все курсы</a>
          </li>
        </ul>
        <div class="d-flex">
          {% if user.is_authenticated %}
          <a href="{% url 'UserAchievementsList' %}" class="btn btn-outline-secondary me-2">
            {{ user.coin }}<i class="bi bi-gem ms-1"></i>
          </a>
          {% if user.is_superuser %}<a href="{% url 'CRMDashboard' %}" class="btn btn-outline-danger me-2">CRM</a>
          <a href="{% url 'CMS_Dashboard' %}" class="btn btn-outline-primary me-2">CMS</a>{% endif %}
          <a href="{% url 'UserProfile' %}" class="btn btn-outline-primary me-2">Аккаунт</a>
          <a href="{% url 'UserLogout' %}" class="btn btn-outline-primary">Выйти</a>
          {% else %}
          <a href="{% url 'UserLogin' %}" class="btn btn-outline-primary me-2">Войти</a>
          <a href="{% url 'UserRegistration' %}" class="btn btn-outline-primary">Зарегистрироваться</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</div>