{% extends 'lms/steps/step_base.html' %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block step_body %}
<div class="card-body pb-0">
    {{ step.description|safe }}
</div>
{% if step.file %}
<div class="card-footer bg-transparent p-3">
    <div class="card col-4">
        <div class="card-body">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <div>
                        <a href="{{ step.file.url }}" class="text-decoration-none stretched-link">{% get_file_name step.file.name %}</a>
                    </div>
                    <div>
                        <i class="bi bi-file-earmark-{% get_file_format step.file.name %}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% load assignment_tags %}
{% block under_content %}
<div class="collapse" id="collapseExample">
    <div class="card shadow mb-2">
        <div class="card-header bg-transparent p-3">
            <h4 class="m-0">Ваш ответ</h4>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-2">
                    {{ form.user_answer }}
                </div>
                {% for error in form.user_answer.errors %}
                <div class="text-danger small mb-2">
                    {{ error }}
                </div>
                {% endfor %}
                <div class="input-group mb-2">
                    {{ form.file }}
                </div>
                {% for error in form.file.errors %}
                <div class="text-danger small mb-2">
                    {{ error }}
                </div>
                {% endfor %}
                <button type="submit" class="col-12 btn btn-outline-secondary p-2">Добавить ответ</button>
            </form>
        </div>
    </div>
</div>
<div class="card shadow mb-2">
    <div class="card-header bg-transparent p-3">
        <div class="row">
            <div class="d-flex justify-content-between">
                <div>
                    <h4 class="m-0">Данные ответы</h4>
                </div>
                <div>
                    <a class="btn btn-success badge p-2 rounded opacity-50" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="bi bi-plus-square me-2"></i>Добавить ответ
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        {% for attempt in attempts %}
        <div class="card {% if not forloop.last %}mb-2{% endif %}">
            <div class="card-body border-bottom">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="row align-items-center">
                            <div class="col-1 border-end pe-2">
                                <img src="{{ user.icon.url }}" class="rounded p-0 col-12 bg-light" alt="">
                            </div>
                            <div class="col-6">
                                {{ attempt.user.first_name }} {{ attempt.user.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <span class="badge bg-secondary p-2 rounded opacity-50 me-2">{{ attempt.get_status_display }}</span>{{ attempt.date_create|date:'d.m.Y H:i:s' }}
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ attempt.user_answer }}
            </div>
            <div class="card-footer bg-transparent p-3">
                <div class="card col-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <a href="{{ attempt.file.url }}" class="text-decoration-none stretched-link">{% get_file_name attempt.file.name %}</a>
                                </div>
                                <div>
                                    <i class="bi bi-file-earmark-{% get_file_format attempt.file.name %}"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}