{% extends 'lms/steps/detail.html' %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block step_body %}
<div class="card-body">
    <div class="card">
        <div class="card-header bg-transparent px-3">
            Всего попыток: {% if step.num_attempts == -1 %}не ограничено{% else %} {{ step.num_attempts }}{% endif %}
        </div>
        <div class="card-body pb-0">
            {{ step.description|safe }}
        </div>
    </div>
    {% if user|user_has_right_answer:attempts %}
    <div class="card mt-2">
        <div class="card-body text-center text-success">
            Уже есть правильный ответ
        </div>
    </div>
    {% elif step.num_attempts > attempts.count or step.num_attempts == -1 %}
    <div class="card mt-2">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-text p-2">Ответ:</span>
                    {{ form.user_answer }}
                    <button type="submit" class="btn btn-outline-secondary p-2">Отправить</button>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="card mt-2">
        <div class="card-body text-center text-danger">
            Вы исчерпали все попытки
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block under_content %}{% if attempts %}
<div class="card shadow">
    <div class="card-header bg-transparent p-3">
        <h4 class="m-0">
            <i class="bi bi-ui-checks-grid me-3"></i>Ваши попытки
        </h4>
    </div>
    <div class="card-body">
        <div class="card mb-1">
            <div class="card-body">
                <div class="row align-items-center small">
                    <div class="col-2 col-lg-1 text-center border-end text-truncate">
                        ID
                    </div>
                    <div class="col-lg-3 col-xl-2 text-center border-end d-none d-lg-block">
                        Дата
                    </div>
                    <div class="col-3 col-xl-2 text-center border-end text-truncate d-none d-md-block">
                        Задача
                    </div>
                    <div class="col-5 col-md-3 col-xl-2 text-center border-end text-truncate">
                        Ответ
                    </div>
                    <div class="col-2 col-lg-1 text-center border-end text-truncate">
                        Вердикт
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block">
                        Время
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block">
                        Тест
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block">
                        Язык
                    </div>
                    <div class="col-3 col-md-2 col-lg-1 pe-2">
                        <span class="badge btn btn-secondary p-2 col-12 opacity-50"><i class="bi bi-eye"></i></span>
                    </div>
                </div>
            </div>
        </div>
        {% for attempt in attempts %}
        <div class="card {% if not forloop.last %}mb-1{% endif %}">
            <div class="card-body">
                <div class="row align-items-center small">
                    <div class="col-2 col-lg-1 text-center border-end text-truncate">
                        {{ attempt.pk }}
                    </div>
                    <div class="col-lg-3 col-xl-2 text-center border-end d-none d-lg-block">
                        {{ attempt.date_create|date:'d.m.Y H:i:s' }}
                    </div>
                    <div class="col-3 col-xl-2 text-center border-end text-truncate d-none d-md-block">
                        <a href="{{ attempt.question.get_absolute_url }}" class="text-decoration-none">{{ attempt.question }}</a>
                    </div>
                    <div class="col-5 col-md-3 col-xl-2 text-center border-end text-truncate">
                        <a href="#" class="text-decoration-none">{{ attempt.user }}</a>
                    </div>
                    <div class="col-2 col-lg-1 text-center border-end {% if attempt.is_correct %}text-success{% else %}text-danger{% endif %}">
                        {% if attempt.is_correct %}OK{% else %}WA{% endif %}
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block">
                        {% if attempt.is_correct %}OK{% else %}WA{% endif %}
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block {% if attempt.first_fail_test != 0 %}text-danger{% endif %}">
                        {% if attempt.first_fail_test == 0 %}-{% else %}{{ attempt.first_fail_test }}{% endif %}
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block">
                        Python
                    </div>
                    <div class="col-3 col-md-2 col-lg-1 pe-2">
                        <a href="{{ attempt.get_detail }}"><span class="badge btn btn-primary p-2 col-12 opacity-50"><i class="bi bi-eye"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}{% endblock %}