{% extends 'include/base.html' %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block body %}
<div class="container">
    {% block block_breadcrumb %}
    <div class="card shadow mb-2">
        <div class="card-body small">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0">
                            {% block breadcrumb %}
                            <li class="breadcrumb-item active">
                                CMS
                            </li>
                            {% endblock %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block main_content %}
    <div class="row g-2">
        <div class="col-lg-3">
            {% block left_sidebar %}
            <div class="card shadow">
                <div class="card-body">
                    {% with request.resolver_match.url_name as url_name %}
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item mb-1">
                            <a href="{% url 'CMS_Dashboard' %}" class="nav-link {% if url_name == 'CMS_Dashboard' %}active{% endif %}"><i class="bi bi-person me-3"></i>Главная</a>
                        </li>
                        <li class="nav-item mb-1">
                            <a href="{% url 'CMS_UserCoursesList' %}" class="nav-link {% if url_name == 'CMS_UserCoursesList' or url_name == 'CMS_CourseCreate' or url_name == 'CMS_CourseUpdate' or url_name == 'CMS_CourseDelete' or url_name == 'CMS_CourseDetail' %}active{% endif %}"><i class="bi bi-ui-checks-grid me-3"></i>Мои курсы</a>
                        </li>
                        <li class="nav-item mb-1">
                            <a href="{% url 'CMS_UserCourseGroupList' %}" class="nav-link {% if url_name == 'CMS_UserCourseGroupList' %}active{% endif %}"><i class="bi bi-ui-checks-grid me-3"></i>Мои группы</a>
                        </li>
                        <li class="nav-item mb-1">
                            <a href="{% url 'CMS_UserAssignmentsList' %}" class="nav-link {% if url_name == 'CMS_UserAssignmentsList' %}active{% endif %}"><i class="bi bi-house me-3"></i>Задания</a>
                        </li>
                    </ul>
                    <hr>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item mb-1">
                            <a href="{% url 'CMS_CoursesList' %}" class="nav-link {% if url_name == 'CMS_CoursesList'%}active{% endif %}"><i class="bi bi-ui-checks-grid me-3"></i>Все курсы</a>
                        </li>
                    </ul>
                    {% endwith %}
                </div>
            </div>
            {% endblock %}
        </div>
        <div class="col-lg-9">
            {% block right_sidebar %}
            <div class="card shadow">
                <div class="card-body">
                    Вы не заполнили шаблон
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}