{% extends 'include/base.html' %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block body %}
<div class="container">
    {% block breadcrumb %}
    <div class="card shadow mb-2">
        <div class="card-body small">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb m-0 ">
                    <li class="breadcrumb-item ">
                        <a href="{% url 'HomePage' %}" class="text-decoration-none">Главная</a>
                    </li>
                    <li class="breadcrumb-item active">
                        CMS
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    {% endblock %}
    <div class="card shadow mb-2">
        <div class="card-body">
            {% with request.resolver_match.url_name as url_name %}
            <ul class="nav nav-pills flex-row">
                <li class="nav-item">
                    <a href="{% url 'CMSDashboard' %}" class="nav-link {% if url_name == 'CMSDashboard' %}active{% endif %}" aria-current="page">CMS</a>
                </li>
            </ul>
            {% endwith %}
        </div>
    </div>
    {% block main_content %}
    <div class="card shadow">
        <div class="card-header bg-transparent p-3">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="m-0">
                            <i class="bi bi-body-text me-3"></i>{{ page_title }}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            Главная панель для управления контентом сайта. Тут можно будет строить курс, настраивать категории и многое-многое другое. Сейчас все в разработке.
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}