{% extends 'cms/dashboard.html' %}
{% block page_title %}{{ course.title }} - Редактирование курса{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'CMS_Dashboard' %}" class="text-decoration-none">CMS</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'CMS_UserCoursesList' %}" class="text-decoration-none">Мои курсы</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'CMS_CourseDetail' course.slug %}" class="text-decoration-none">{{ course.title }}</a>
</li>
<li class="breadcrumb-item active">
    Решения задач на программирование
</li>
{% endblock %}
{% block main_content %}
<div class="card shadow mb-2">
    <div class="card-header bg-transparent p-3">
        <div class="row">
            <div class="d-flex justify-content-between">
                <div>
                    <h4 class="m-0"><i class="bi bi-ui-checks-grid me-3"></i>Все посылки курса: {{ course.title }}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card mb-2">
            <div class="card-body">
                <div class="row align-items-center small">
                    <div class="col-1 text-center border-end">
                        ID
                    </div>
                    <div class="col-2 text-center border-end">
                        Время посылки
                    </div>
                    <div class="col-1 text-center border-end">
                        Задача
                    </div>
                    <div class="col-2 text-center border-end">
                        Участник
                    </div>
                    <div class="col-1 text-center border-end">
                        Компилятор
                    </div>
                    <div class="col-1 text-center border-end">
                        Вердикт
                    </div>
                    <div class="col-1 text-center border-end">
                        Время
                    </div>
                    <div class="col-1 text-center border-end">
                        Тест
                    </div>
                    <div class="col-1 text-center border-end">
                        Баллы
                    </div>
                </div>
            </div>
        </div>
        {% for attempt in attempts %}
        <div class="card mb-1">
            <div class="card-body">
                <div class="row align-items-center small">
                    <div class="col-1 text-center border-end">
                        {{ attempt.pk }}
                    </div>
                    <div class="col-2 text-center border-end">
                        {{ attempt.date_create|date:'d.m.Y H:i:s' }}
                    </div>
                    <div class="col-1 text-center border-end">
                        <a href="{{ attempt.problem.get_absolute_url }}" class="text-decoration-none">{{ attempt.problem }}</a>
                    </div>
                    <div class="col-2 text-center border-end">
                        {{ attempt.user }}
                    </div>
                    <div class="col-1 text-center border-end">
                        Python
                    </div>
                    <div class="col-1 text-center border-end {% if attempt.verdict == 'OK' %}text-success{% elif attempt.verdict == 'PR' %}{% else %}text-danger{% endif %}">
                        {% if attempt.verdict == 'PR' %}-{% else %}{{ attempt.verdict }}{% endif %}
                    </div>
                    <div class="col-1 text-center border-end">
                        {% if attempt.verdict == 'PR' %}-{% else %}{{ attempt.cputime|point }}{% endif %}
                    </div>
                    <div class="col-1 text-center border-end {% if attempt.first_fail_test != 0 %}text-danger{% endif %}">
                        {% if attempt.first_fail_test == 0 %}-{% else %}{{ attempt.first_fail_test }}{% endif %}
                    </div>
                    <div class="col-1 text-center border-end">
                        {% if attempt.verdict == 'PR' %}-{% else %}{{ attempt.points }}{% endif %}
                    </div>
                    <div class="col-1 text-end text-danger">
                        <span class="badge bg-secondary p-2 opacity-50"><i class="bi bi-eye"></i></span>
                        <a href="">
                            {% if attempt.is_new %}
                            <span class="badge bg-success p-2 opacity-50"><i class="bi bi-check-square"></i></span>
                            {% else %}
                            <span class="badge bg-danger p-2 opacity-50"><i class="bi bi-x-square"></i></span>
                            {% endif %}
                        </a>
                        {% comment %}<div class="btn-group dropstart">
                            <a href="" class="text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="badge bg-secondary p-2 dropdown-toggle opacity-50"><i class="ms-1 bi bi-pencil"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="">Редактировать</a></li>
                                <li><a class="dropdown-item" href="">Удалить</a></li>
                                <li><a class="dropdown-item" href="">Пересчитать уроки</a></li>
                                <li><a class="dropdown-item" href="">Опубликовать</a></li>
                            </ul>
                        </div>{% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if page_obj.has_other_pages %}
        <nav class="align-items-center" aria-label="Page navigation example">
            <ul class="pagination mb-0">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a></li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{% endblock %}