{% extends 'cms/courses/detail.html' %}{% load static %}

{% block content %}
<div class="card shadow">
    <div class="card-header bg-transparent p-3">
        <div class="d-flex justify-content-between">
            <h4 class="m-0 text-truncate"><i class="bi bi-ui-checks-grid me-2"></i>{{ course.title }}</h4>
            <a href="{{ course.get_cms_url }}"><span class="badge bg-secondary p-2 opacity-50 text-white"><i class="bi bi-arrow-bar-left"></i></span></a>
        </div>
    </div>
    <div class="card-body">
        {% include 'cms/courses/form.html' %}
    </div>
</div>
{% endblock content %}