{% extends 'lms/dashboard.html' %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block breadcrumb %}
<div class="card shadow mb-2">
    <div class="card-body small">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                    <a href="{% url 'UserProfile' %}" class="text-decoration-none">Аккаунт</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'UserCoursesList' %}" class="text-decoration-none">Мои курсы</a>
                </li>
                <li class="breadcrumb-item active">
                    {{ course.title }}
                </li>
            </ol>
        </nav>
    </div>
</div>
{% endblock %}
{% load courses_tags %}
{% block left_sidebar %}
<div class="d-none d-md-block col-3">
    <div class="card shadow">
        <div class="card-body">
            <img src="{{ course.icon.url }}" class="col-12 rounded bg-light" alt="">
        </div>
    </div>
</div>
{% endblock %}
{% block main_content %}
<div class="col-12 col-md-9">
    <div class="card shadow">
        <div class="card-header bg-transparent p-3">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="m-0">
                            <i class="bi bi-ui-checks-grid me-3"></i>{{ course.title }}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% for topic in course.topics.all %}
            <div class="row gx-2 mb-2">
                <div class="col-10">
                    <div class="card h-100" data-bs-toggle="collapse" href="#collapse{{ topic.slug }}" role="button" aria-expanded="false" aria-controls="collapse{{ topic.slug }}">
                        <div class="card-body p-2">
                            <div class="row">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <span class="badge bg-secondary p-2 opacity-50 me-2"># {{ forloop.counter }}</span>{{ topic.title }}
                                    </div>
                                    <div>
                                        <span class="small text-secondary me-2">{{ topic|topic_progress }} / {{ topic|topic_steps_cnt}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card h-100">
                        <div class="card-body p-2">
                            <div class="progress h-100">
                                <div class="progress-bar" role="progressbar" aria-label="" style="width: {{ topic|topic_progress_percent }}%;" aria-valuenow="{{topic|topic_progress_percent}}" aria-valuemin="20" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="collapse show" id="collapse{{ topic.slug }}">
                {% for lesson in topic.lessons.all %}
                <div class="row gx-2 mb-2 ">
                    <div class="col-9 offset-1">
                        <div class="card h-100">
                            <div class="card-body p-2">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <a href="{{ lesson.get_absolute_url }}" class="stretched-link text-decoration-none">
                                            <span class="badge bg-secondary p-2 opacity-50 me-2"># {{ forloop.counter }}</span>{{ lesson.title }}
                                        </a>
                                    </div>
                                    <div>
                                        <span class="small text-secondary me-2">{{ lesson|steps_finished }} / {{ lesson|steps_counter }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 ">
                        <div class="card h-100">
                            <div class="card-body p-2 h-100 ">
                                <div class="progress h-100">
                                    <div class="progress-bar" role="progressbar" aria-label="" style="width: {{ lesson|lesson_progress_percent }}%;" aria-valuenow="{{lesson|lesson_progress_percent}}" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
            {% empty %}
            <div class="card">
                <div class="card-body text-center text-danger">
                    Курс пустой :( Сообщите преподавателю
                </div>
            </div>
            {% endfor %}





        </div>
    </div>
</div>
{% endblock %}