{% extends 'lms/dashboard.html' %}{% load static %}{% load courses_tags %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'UserProfile' %}" class="text-decoration-none">Аккаунт</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'LMS_UserCoursesList' %}" class="text-decoration-none">Мои курсы</a>
</li>
<li class="breadcrumb-item active">
    {{ course.title }}
</li>
{% endblock %}
{% block sidebar %}
<div class="card shadow d-none d-lg-block mb-2">
    <div class="card-body">
        <img src="{{ course.icon.url }}" class="col-12 rounded bg-light" alt="">
    </div>
</div>
<div class="card shadow d-none d-lg-block">
    <div class="card-body">
        {% include 'lms/courses/_nav.html' %}
    </div>
</div>
{% endblock %}
{% block content %}
<div class="card shadow">
    <div class="card-header bg-transparent p-3">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="m-0 text-truncate"><i class="bi bi-ui-checks-grid me-2"></i>{{ course.title }}</h4>
            <nav class="navbar bg-white p-0 d-lg-none">
                <div class="container-fluid p-0">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#course_menu" aria-controls="course_menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end border-0 w-75 rounded" tabindex="-1" id="course_menu" aria-labelledby="course_menuLabel">
                        <div class="offcanvas-header border-bottom p-2">
                            <a class="navbar-brand p-0 m-0" href="/">
                                <img src="{% static 'picture/logo_500x500.png' %}" alt="" width="60" height="60" class="d-inline-block">
                            </a>
                            <h2 class="offcanvas-title">ИТ Полигон</h2>
                            <button type="button" class="btn-close ms-auto me-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            {% include 'lms/_nav.html' %}
                            <hr class="mb-3">
                            <h4 class="m-0 mb-2">{{ course.title }}</h4>
                            <hr class="my-3">
                            {% include 'lms/courses/_nav.html' %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="card-body pb-2">
        {% for topic in course.topics.all %}
        <div class="row gx-2 mb-2">
            <div class="col-12 col-sm-9">
                <div class="card {% if topic_progress_percent == '100' %}collapsed{% endif %}" data-bs-toggle="collapse" href="#collapse{{ topic.slug }}" role="button" aria-expanded="{% if topic_progress_percent == '100' %}false{% else %}true{% endif %}" aria-controls="collapse{{ topic.slug }}">
                    <div class="card-body p-2">
                        <div class="row align-items-center">
                            <div class="col-8 text-truncate">
                                <span class="badge bg-secondary p-2 opacity-50 me-2"># {{ forloop.counter }}</span>{{ topic.title }}
                            </div>
                            <div class="col-4 text-end">
                                <span class="small text-secondary">XXX / XXX</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-sm-block col-sm-3">
                <div class="card h-100">
                    <div class="card-body p-2">
                        <div class="progress h-100">
                            <div class="progress-bar{% if topic_progress_percent == '100' %} bg-success{% endif %}" role="progressbar" style="width: 50%;" aria-valuenow="{{ topic_progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse {% if topic_progress_percent != '100' %}show{% endif %}" id="collapse{{ topic.slug }}">
            {% for lesson in topic.lessons.all %}
            <div class="row gx-2 mb-2">
                <div class="col-11 col-sm-8 offset-1">
                    <div class="card">
                        <div class="card-body p-2">
                            <div class="row align-items-center">
                                <div class="col-8 text-truncate">
                                    <div class="d-flex align-items-center">
                                        <a href="">
                                            <span class="badge bg-secondary p-2 opacity-50 me-2"># {{ lesson.number }}</span>
                                        </a>
                                        <a href="{{ lesson.get_lms_detail_url }}" class="text-decoration-none">{{ lesson.title }}
                                        </a>

                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <span class="small text-secondary">XXX / {{ lesson.connections.count }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-sm-block col-sm-3">
                    <div class="card h-100">
                        <div class="card-body p-2">
                            <div class="progress h-100">
                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% empty %}
        <div class="text-center text-danger mb-2">
            В курсе нет никаких материалов :( Сообщите преподавателю
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}